@model Contracts.Email.UserActivationModel
<!DOCTYPE html>
<html lang="hr"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:og="http://ogp.me/ns#"
      xmlns:fb="http://www.facebook.com/2008/fbml">
<head>
    <title></title>
    <meta charset="utf-8" />
    <!--[if !mso]><!-->
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!--<![endif]-->
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <style type="text/css">
        #outlook a {
            padding: 0;
        }

        body {
            margin: 0;
            padding: 0;
            -webkit-text-size-adjust: 100%;
            -ms-text-size-adjust: 100%;
        }

        table,
        td {
            border-collapse: collapse;
            mso-table-lspace: 0pt;
            mso-table-rspace: 0pt;
        }

        img {
            border: 0;
            height: auto;
            line-height: 100%;
            outline: none;
            text-decoration: none;
            -ms-interpolation-mode: bicubic;
        }

        p {
            display: block;
            margin: 13px 0;
        }

        .Body {
            width: 100%;
            background-color: #F5F5F5;
            justify-content: center;
            border-radius: 10px;
            padding: 30px 5%;

        }

        .EmailBody {
            pading: 20px;
            align-items: center;
            justify-content: center;
            width: 100%;
        }

        .Description {
            text-align: center;
            color: #000000;
            font-size: 12px;
            margin: 20px 0px;
        }

        .Button {
            font-size: 20px;
            width: 60vw;
            padding: 20px 20vw;
            background-color: #ccc;
            color: #F5F5F5;
            margin: 40px 0px;
            border-radius: 20px;
            min-width: 200px;
            text-align: center;
            text-decoration: none;
            transition: background-color 0.2s ease-out, color 0.2s ease-out;
        }
        .Button:hover{
            background-color: #000000;
            color: #FFFFFF;
        }
        .Button:active{
            background-color: #F5F5F5;
            color: black;
        }

        .Warning {
            text-align: center;
            color: orangered;
            font-size: 12px;
            margin: 20px 0px
        }

        .Divider {
            width: 100%;
            height: 1px;
            background-color: #000000;
            margin: 20px 0;
            opacity: 0.4;
        }

        .Title {
            width: 100%;
            align-items: center;
            text-align: center;
            font-family: 'Open Sans', Helvetica, Arial, sans-serif;
            display: flex;
            font-size: 30px;
        }

        .EmailText {
            font-family: 'Open Sans', Helvetica, Arial, sans-serif;
            font-size: 16px;
            line-height: 1.5;
            color: #000000;
        }
    </style>
    <!--[if mso]>
        <noscript
        ><xml
         ><o:OfficeDocumentSettings
          ><o:AllowPNG /><o:PixelsPerInch
                         >96</o:PixelsPerInch
        ></o:OfficeDocumentSettings
        ></xml
        ></noscript
        >
    <![endif]-->
    <!--[if lte mso 11]>
        <style type="text/css">
            .ogf {
                width: 100% !important;
            }
        </style>
    <![endif]-->
    <!--[if !mso]><!-->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700,700i"
          rel="stylesheet" />
    <!--<![endif]-->
    <style type="text/css">
        @@media only screen and (max-width: 480px) {
            -ms-viewport {
                width: 320px;
            }

            viewport {
                width: 320px;
            }
        }
    </style>
    <style type="text/css">
        @@media only screen and (min-width: 480px) {
            .mj-column-per-100 {
                width: 100% !important;
                max-width: 100%;
            }
        }
    </style>
</head>
<main>
    <body class="Body">
        <div class="EmailBody">
            <span class="Title">
                Dobar dan @Model.Name,
            </span>
            <div class="Divider">
            </div>
            <span class="Description">
                Šaljemo ti ovaj mail da potvrdiš prijavu računa na VM-računala, klikni na link ispod da potvrdiš svoj račun.
            </span>
            <span class="Warning">
                Ako se nisi  pokušao prijaviti se na VM-računala, zanemari ovaj mail.
            </span>
            <div class="Divider">
            </div>
            <a href="@Model.Link" class="Button"> Potvrdi račun </a>
            <div class="Divider"></div>
            <span class="Description">
                Ako ne možeš kliknuti na link, kopiraj ga u svoj browser.
                @Model.Link
            </span>
        </div>
    </body>
</main>
