.SingleItemPage{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    width: 100%;
    margin-top: 50px;
    height: 100%;
    background-color: #f5f5f5;
    > .EditAndDelete{
        display: flex;
        flex-direction: column;
        margin: 20px 0px;
        width: 100%;
        height: fit-content;
        .DeleteButton{
            background-color: crimson;
            border: 1px solid #ccc;
            border-radius: 5px;
            width: 100px;
            height: 30px;
            margin: 0 auto;
            &:hover{
                background-color: darkred;
                border: 1px solid #fdd;
            }
        }
        
    }
}