@model Contracts.Email.UserActivationModel
<body class= "Container>
        < div class= "EmailBody" >
            < span class= "Title" >
                Dobar dan @Model.Name,
            </span>
<div class="Divider">
    </ div >
    < span class= "Description" >
    Šaljemo ti ovaj mail da potvrdiš prijavu računa na VM-računala, klikni na link ispod da potvrdiš svoj račun.
    </span>
    <span class="Warning">
        Ako nisi ti pokušao prijaviti se na VM-računala, zanemari ovaj mail.
    </span>
    <div class="Divider">
        </ div >
        < a href = "@Model.Link" class= "Button" > Potvrdi račun </ a >
        < div class= "Divider" ></ div >
        < span class= "Description" >
        Ako ne možeš kliknuti na link, kopiraj ga u svoj browser.
            @Model.Link
        </span>
    </div>
</body>
