.Container {
    width: 20vw;
    padding: 14px;
    background-color: #fff;
    display: flex;
    border-radius: 10px;
    flex-direction: column;
    .Order {
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: space-between;
        align-content: flex-start;
        .Info {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            word-wrap: break-word;
            .Name {
                color: var(--text-main, #1e1e1e);
                font-family: Nuckle;
                font-size: 1.25vw;
                font-style: normal;
                font-weight: 591;
                line-height: normal;
                text-decoration: none;
                width: 100%;
                &:hover {
                    text-decoration: underline;
                }
                &:active {
                    color: var(--background-main-color, #0d63f3);
                }
                word-wrap: break-word;
                word-break: break-all;
            }
            .Type {
                color: var(--text-main, #1e1e1e);
                font-family: Nuckle;
                font-size: 0.75vw;
                font-style: normal;
                font-weight: 591;
                line-height: normal;
                width: 100%;
                word-wrap: break-word;
                word-break: break-all;
            }
            .Price {
                color: #0d63f3;
                font-family: Nuckle;
                font-size: 0.75vw;
                font-style: normal;
                font-weight: 591;
                line-height: normal;
                width: 100%;
                word-wrap: break-word;
                word-break: break-all;
            }
            .Date {
                color: var(--text-main, #1e1e1e);
                font-family: Nuckle;
                font-size: 0.75vw;
                font-style: normal;
                font-weight: 591;
                line-height: normal;
                width: 100%;
                word-wrap: break-word;
                word-break: break-all;
            }
        }
        .Status {
            color: var(--light-green-base, #20bf86);
            font-family: Nuckle;
            font-size: 1vw;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
        }
    }
    &:hover {
        box-shadow: 0px 2px 8px 0px rgba(41, 82, 225, 0.15);
    }
}
